*{
  margin: 0;
  padding: 0;
  font-family: "Josefin Sans", sans-serif;
}

body {
  overflow: hidden;
  background: #d7d7d7;
  display: flex;
  justify-content: center;
  background: linear-gradient(0deg, #6139a5 0%, #4570df 100%);
  height: 100vh;
}
#tetris {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.img{
  width: 300px;
  display: flex; 
}
img{
  width: 100%;
}
.game{
  display: flex;
  gap: 30px;
}

#canvas {
  width: 260px;
  height: 520px;
  background-color: black;
  border: 5px solid #3e5eba;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
  position: relative;
  color: #fff;
}
#canvas h1 {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 30px;
  padding-top: 200px;
}
.piece {
  border: 1px solid white;
  position: absolute;
}

#start{
  background: #E1FF5F;
  border-radius: 2px;
  color: #202020;
  cursor: pointer;
  font-size: 28px;
}

@keyframes blink {
  to {
    outline: #E1FF5F solid 1px;
  }
}

.red{
  color: #f00000;
}

.square {
  position: absolute;
  width: 18px;
  height: 18px;
  border-width: 4px; 
  border-style: solid; 
  border-image-slice: 1;
}


#next_shape {
  position: relative;
  background-color: #000;
  width: 100%;
  height: 100%;
}
.info {
  color: #fff;
  width: 140px;
  height: 140px;
  border: 5px solid #3e5eba;
  background-color: black;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.6);
}

.scoreTable{
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.type0 {
  background-color: #FA1B54;
  border-image-source: linear-gradient(
    to top right,
    #BB103C 50%,
    #FF6D91 50%   
  );
}

.type1  {
  background-color: #FE8D00;
  border-image-source: linear-gradient(
    to top right,
    #C76301 50%,
    #FFC065 50%   
  );
}

.type2  {
  background-color: #FFCF00;
  border-image-source: linear-gradient(
    to top right,
    #DA9500 50%,
    #FEE25C 50%   
  );
}

.type3  {
  background-color: #05C92C;
  border-image-source: linear-gradient(
    to top right,
    #00911E 50%,
    #66E380 50%
  );
}

.type4  {
  background-color: #01EAF2;
  border-image-source: linear-gradient(
    to top right,
    #009EA6 50%,
    #66F6FC 50%   
  );
}

.type5  {
  background-color: #00A7F3;
  border-image-source: linear-gradient(
    to top right,
    #017BB4 50%,
    #67CFFF 50%   
  );
}


.type6 {
  background-color: #B561F9;
  border-image-source: linear-gradient(
    to top right,
    #8045B0 50%,
    #D2A2FB 50%   
  );
}